*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

nav{
  background-color: #F55A5A;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}
nav>img{
  margin-right: 10px;
}

.container{
  padding: 20px;
  display: flex;
  align-items: center;
}
.img-div{margin-right: 50px;}
.img-div>img{
max-width: 100%;
height: auto;
}

.content .first{
  display: flex;
  align-items: center;
}

.first>img,h3{
  margin-right: 10px;
}

.content h1, .about{
  margin: 0;
}